body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  div {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* Green */
    color: white;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .photo {
    display: none;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/25016396/pexels-photo-25016396/free-photo-of-a-woman-walking-down-the-runway-with-an-airplane-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=400&h=400&dpr=1");
    border: 1px solid red;
  }
  
  .photo-visible {
    display: block;
  }
  